@use 'utils/mixins';
@use 'utils/variables';
#accueilSection {
	background-image: url('../assets/backgrounds/gplay.png');
	color: variables.$main-font-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mixins.section();
	.accueil {
		display: flex;
		flex-direction: column;
		gap: 2.2em;
		max-width: 50%;
		margin: auto 0;
		@media screen and (max-width: 768px) {
			max-width: 90%;
		}
		.description {
			text-align: center;
			h1 {
				text-transform: uppercase;
			}
		}
		.cvBouton {
			border-radius: 1em;
			font-weight: 500;
			color: white;
			background-color: variables.$primary-color;
			margin: auto;
			padding: 10px 20px;
			text-align: center;
			a {
				color: white;
			}
		}
		.cvBouton:hover {
			cursor: pointer;
		}
		.cvBouton:active {
			background-color: variables.$secondary-color;
		}
	}
}
