@use 'utils/mixins';
@use 'utils/variables';
#competencesSection {
	background-color: #f6f6f6;
	background-image: url('https://www.transparenttextures.com/patterns/pineapple-cut.png');
	.description {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		margin: 0 auto;
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
	.competences {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-left: 25vw;
		padding-right: 25vw;
		.categorie {
			ul {
				display: flex;
				flex-direction: column;
				gap: 5px;
				list-style-type: none;
				padding: 0;
				li {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 15px;
					h3 {
						color: variables.$primary-color;
					}
					img {
						max-width: 2.5em;
					}
				}
			}
		}
	}
}
