#experiences {
	position: relative;
	z-index: 1;
	background-color: #f2f2f2;
	background-image: url('../assets/backgrounds/transparent-square-tiles.png');
	.experiences {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
