@import './utils/mixins';
@import './utils/variables';
header {
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: fixed;
	top: 0;
	height: 100px;
	width: calc(100vw - 100px);

	background-color: $main-background-color;
	@include shadowBox;

	color: $main-font-color;
	background-color: #d5e6ff;
	background-image: url('https://kordasauter.github.io/Kasa/static/media/homeBanner.7360a5225c491626c951.jpg');

	.titre {
		display: flex;
		justify-content: space-around;
		gap: 20px;
		H1 {
			// font-size: 40px;
			margin: auto 0;
		}
		H2 {
			// font-size: 35px;
			margin: auto 0;
		}
	}
	nav {
		margin: auto 0;
		font-weight: bold;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		gap: 20px;

		li {
			a {
				color: $main-font-color;
				// 	// font-size: 20px;
				// 	// font-weight: bold;
				// 	// margin: auto 0;
			}
			.active {
				text-decoration: underline;
			}
			.notActive {
				text-decoration: none;
			}
		}
	}
}
