@use 'utils/mixins';
@use 'utils/variables';
main {
	color: variables.$main-font-color;
	h1,
	h2 {
		color: variables.$primary-color;
	}
}
.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}
