@use 'utils/mixins';
@use 'utils/variables';
#projetsSection {
	@include mixins.section();

	overflow: hidden;

	min-height: calc(100vh - variables.$header-size);
	box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
	background-color: #f2f2f2;
	background-image: url('https://www.transparenttextures.com/patterns/transparent-square-tiles.png');
	.projets {
		min-height: calc(100vh - (variables.$header-size + 35px));
		display: flex;
		flex-direction: column;
		// align-items: center;
		height: 100%;
		h2 {
			text-align: center;
		}
		.projectsList {
			// overflow: auto;
			height: calc(100vh - (variables.$header-size + 35px));
			// min-width: 100%;
			width: fit-content;
			// overflow: auto;
			// left: 0;
			padding-left: 50%;
			.cardContainer {
				align-items: center;
				height: 100%;

				position: relative;
				// padding: 0 50%;
				// left: 0;
				display: flex;

				flex-direction: row;
				flex: content;
				gap: calc(variables.$projet-cartes-gap-wide * 1vw);
				transition: 0.5s ease-in-out;
				@media screen and (max-width: 768px) {
					gap: calc(variables.$projet-cartes-gap-mobile * 1vw);
					height: calc(100% - 32px - variables.$header-size);
				}
				.carrousel {
					display: flex;
					flex-direction: row;
				}
			}
		}
		.button {
			z-index: 1;
			top: 50%;
			position: absolute;
			opacity: 60%;
			@media screen and (max-width: 768px) {
				top: calc(50% - 16px - variables.$header-size);
			}
			img {
				height: 50px;
				width: 50px;
			}
			cursor: pointer;
		}
		.btnLeft {
			left: 2vw;
		}
		.btnRight {
			right: 2vw;
			transform: rotate(180deg);
		}
	}
}
