@use 'variables';
@mixin shadowBox() {
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
@mixin section() {
	position: sticky;
	top: variables.$header-size;
	min-height: calc(100vh - variables.$header-size);
	box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
}
