// $main-background-color: #f6f6f6;

// $main-font-color: #191970;
$main-font-color: #000000;

$main-shadow-color: #808080;

$primary-color: #0a2472;
$secondary-color: #0264d8;

$common-radius: 20px;
